/* Reset y estilos base */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  @include glossy-bg;
  min-height: 100vh;
  color: $color-white;
  font-family: $font-main;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
